{{ 'ugc-slider.scss.css' | asset_url | stylesheet_tag }}
 <p class="sr-only">This is a UGC video carousel. Use Next and Previous buttons to navigate, or jump to a slide with the slide dots.</p>
<div class="trypage-v2">
<section class="video-section" data-check-for-order="true" aria-label="{{ section.settings.video_section_title }} carousel">
<h2 class="video-section-title">{{ section.settings.video_section_title }}</h2>
<div class="video-section-inner section is-flex main-carousel container" >
{% for block in section.blocks %}
  <div id="shopify-section-{{ block.id }}" {{ block.shopify_attributes }}
        class="shopify-section one-half is-flex is-justify-center">
        {% include 'include-tested-and-approved', type: 'block' %}
  </div>
{% endfor %}
</div>
</section>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<link rel='stylesheet' href='https://unpkg.com/flickity@2/dist/flickity.css'>
<script>
var elem = document.querySelector('.video-section-inner');
var flkty = new Flickity( elem, {
  // options
  cellAlign: 'left',
  contain: true,
  draggable: true,
  prevNextButtons: true,
  wrapAround:true
});

function updateAriaAttributes() {
  var dots = document.querySelectorAll('.flickity-page-dots .dot');
  
  dots.forEach((dot, index) => {
    dot.setAttribute('aria-label', 'Go to slide ' + (index + 1));
    dot.setAttribute('tabindex', '0');
  
  });
}
// function updateAriaHidden() {
//   var slides = document.querySelectorAll('.flickity-slider .shopify-section');
//   slides.forEach((slide, index) => {
//       if (index === flkty.selectedIndex) {
//         slide.setAttribute('aria-hidden', 'false');
//         slide.setAttribute('tabindex', '0');
//       } else {
//         slide.setAttribute('aria-hidden', 'true');
//         slide.setAttribute('tabindex', '-1');
//       }
//     });
// }

//   updateAriaAttributes();
// updateAriaHidden();

// // Update the attributes whenever the slider changes
// flkty.on('change', function(index) {
//   updateAriaAttributes();
//   updateAriaHidden();
// });
 function updateAccessibility() {
    var cells = flkty.getCellElements();
    var selectedIndex = flkty.selectedIndex;
    var groupCells = 2; // Number of visible cells

    // Reset all cells
    cells.forEach(function(cell) {
      cell.setAttribute('aria-hidden', 'true');
      cell.setAttribute('tabindex', '-1');
      var video = cell.querySelector('video');
        if (video) video.setAttribute('tabindex', '-1');
    });

    // Set attributes for visible cells
    for (var i = 0; i < groupCells; i++) {
      var visibleIndex = (selectedIndex + i) % cells.length;
      var cell = cells[visibleIndex];
      cell.setAttribute('aria-hidden', 'false');
      cell.setAttribute('tabindex', '0');
      var video = cell.querySelector('video');
        if (video) video.setAttribute('tabindex', '0');
    }
  }

  // flkty.on('ready', updateAccessibility);
  updateAccessibility();
    updateAccessibility();
  flkty.on('change', function(index) {
    updateAriaAttributes();
    updateAccessibility();
});
</script>
</div>
{% style %}
  .video-section{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: calc({{ section.settings.padding_bottom }}px + 40px);
  }
  .video-section-title{
    color: {{ section.settings.title_color }};
  }
  /* smaller, dark, rounded square */
  .flickity-prev-next-button:hover {
    background: #FFFFFF;
    color:#F26829 !important;
  }
  .flickity-prev-next-button:hover path{
    fill:#F26829 !important;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: white;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
 .carousel-cell {
  width: 50%; /* half-width */
 
}
  .flickity-button{
    position: absolute;
    background: #282973;
    border: none;
    color: #333;

  }
  .video-section-inner{
    position:relative;
  }
  .flickity-prev-next-button {
    top: 50%;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transform: translateY(-50%);
    padding:12px;
}
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}
    &::after {
    content: "flickity";
    display: none;
  }

  .flickity-cell.is-selected {
    position: absolute;
    inset: 0;
  }
  .flickity-prev-next-button .flickity-button-icon{
    width: 24px;
  }
  .flickity-page-dots .dot{
    background: #000 !important;
    opacity:1 !important;
  }
  .flickity-page-dots .dot.is-selected{
    background: #bb3b00 !important;
    
  }
{% endstyle %}



{% schema %}
  {
    "name": "Video Section",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Tested and Approved Content"
      },
      {
        "type": "text",
        "label": "Title",
        "id": "video_section_title",
        "default": "Mother Tested and Approved"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top Spacing",
        "min": 20,
        "max": 100,
        "default": 45,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom Spacing",
        "min": 20,
        "max": 100,
        "default": 100,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "video-col",
        "name": "Video Column",
        "settings": [
          {
            "type": "url",
            "label": "Video URL",
            "id": "video_url"
          },
          {
            "type": "image_picker",
            "label": "Thumbnail Image",
            "id": "image_url"
          }
        ]
      }
    ],
    "default": {
      "settings": {
      },
      "blocks": [
        {
          "type": "video-col"
        }
      ]
    }
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}